*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f49b;
    color : #333
}

a {
    text-decoration: none;
    color : #333
}

h1,h2,h3{
    font-weight: bold;
}

/* header */
.header{
    background-color: #333;
    color : white;
    padding :20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    font-size: 26px;
    color : white;
}

.header nav {
    display: flex;
    gap: 30px;
}

.header nav a{
    color : white;
    font-weight: bold;
}

.header nav :hover {
    text-decoration: underline;
}

/* footer */
footer{
    background-color: #333;
    color : white;
    padding :20px;
    text-align: center;
}

footer p{
    margin : 0;
}

/* hero-section */
.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 60px;
}

.hero  h1{
    font-size: 58px;
}

.hero  p{
    font-size: 30px;
    margin-top: 10px;
}

.hero button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color : white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor : pointer;

}

.hero button:hover{
    background-color: #555;
}

/* aboutUs */

.about {
    background-size: cover;
    background-position: center;
    color: white;
    padding : 80px 20px;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    align-items: center;
}

.about-content{
    max-width : 650px;
    text-align : left;
    background: #333;
    padding : 30px;
    border-radius: 10px;
}

.about-content p{
    padding-top : 20px;
}

.donuts {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 20px;
    margin-top : 40px;
    margin : 50px;
}

.donuts-container {
    width : 100%;
    background-color : #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   

}

.donuts-container img{
    width : 100%;
    height: auto;
    border-radius: 10px;
}

.donuts-container h3{
margin-top: 10px;
}

.donuts-container p {
    color: #333;
    font-size: 14px;
}

.donuts-container .price{
    font-size: 20px;
    font-weight: bold;
    color :#333;
}

.donuts-container button {
    margin-top: 10px;
    padding:10px;
    background-color: #333;
    border-radius: 10px;
    color : #ffffff
}

.donuts-container  button:hover{
    background-color: #555;
}

.donuts-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition : transform 0.3s ease;
}

.donuts-container:hover img{
   transform : scale(1.1);
}

/* contact */
.Contact {
  max-width: 600px;
  height: auto;
  margin : 50px auto;
  padding : 20px;
  background-color: #ffffff;
  margin-bottom: 250px;
}

.Contact input,
.Contact textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #555;
    border-radius: 5px;
}

.Contact button{
    padding: 10px 20px;
    background-color: #333;
    color : white;
    border: none;
    border-radius: 5px;
    cursor : pointer;
    width: 100%;
}

.Contact  button:hover{
    background-color: #555;
}

/* fade-in */
@keyframes fadeIn {
    0% {
        opacity : 0;
        text-replace: translateY(20px);
    }
    100% {
        opacity : 1;
        text-replace: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

/* responsive */
@media (max-width: 768px) {
    .header{
        flex-direction: column;
        align-items: center;
    }
    .header logo{
        margin-top: 10px;
    }
    .header nav{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .hero{
        height: 70vh;
        padding: 20px;
        text-align: center;
    }
    .hero h1{
        font-size: 36px;
    }
    .hero p{
        font-size: 18px;
    }
    .hero button{
        width: 100%;
        padding: 12px;
        font-size: 18px;
    }
    .donuts {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .about {
        padding: 40px 20px;
        height: auto;
    }

    .about-content{
        max-width: 100%;
        padding: 20px;
    }
    .Contact {
        margin: 20px;
    }

}